Create a markdown cell with the title Data Science Tools and Ecosystem using H1 style heading.
# Data Science Tools and Ecosystem


In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. TensorFlow

|Data Science Tools| 
--------------------
| RStudio |
| Apache Spark |
| Apache Hadoop |

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [5]:
#This will convert 200 minutes to hours by diving by 60
minutes = 200
hours = minutes / 60
print(hours)

3.3333333333333335

**Objectives:** List popular languages for Data Science
- SQL
- Python
- R

## Author
Emilio Barrera